{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Lung Health Detection</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <style>
        body{
            background-color: #7ABECC;
        }
        .container {
            /* display: grid; */
            /* max-width: 100%;
            display: inline-block;
            vertical-align: middle; */
            height:100%;
            display:table;
            width: 100%;
            padding: 0;
            margin-top: 25%;
        }
        .link_btn{
            text-align: center;
            margin: auto;
        }
    </style>
</head>
<body>
	{%  include 'LungHealthDetection/navbar.html' %}
	{% block content %}
    <div class="container container-fluid ">
        <div class="d-flex justify-content-center mt-2 ">
            <spam class="link_btn">
                <a class="btn btn-primary" href="{% url 'profile' %}" >Your Profile</a>
            </spam>
            <spam class="link_btn">
                <a class="btn btn-primary" href="{% url 'records' %}" >Your Records</a>
            </spam>
        </div>
        
        </div>
    {% endblock %}
	
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>