{%  extends 'LungHealthDetection/main.html' %}

{% block content %}

<div class="container-fluid">
    <div class="paragraph" style="text-align: center;"><h1>Home</h1>
</div>
<div class="paragraph"> <h2><b>Instructions to Predict your Images </b> </h3></div>
<div class="paragraph"> <h3> Step 1 : Register to website </h3></div>
<div class="paragraph"> <h3>Step 2 : Log in to website </h3></div>
<div class="paragraph"> <h3>Step 3 : Upload image from predict page </h3></div>
<div class="paragraph"> <h3>Step 4 : Then Hitmap will be show of uploaded image in 20-30 Second  </h3></div>
<div class="paragraph"> <h3>Step 5 : You can save Heatmap image if you want  </h3></div>
<div class="paragraph"> <h3>Step 6 : Predicted result will show on the same page  </h3></div>
<div class="paragraph"> <h3>Step 7 : You can see your records and Update your profile in dashboard </h3></div>

{% endblock %}